.loginPage {
  position: relative;
  height: 100vh;
}

.headerLogo {
  padding-top: 24px;
}

.headerLogo img {
  width: 124px;
  object-fit: cover;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.loginContent {
  gap: 24px;
  margin-top: 30%;
}

.passwordContainer {
  gap: 8px;
}

.forgotPassword {
  text-align: right;
  color: var(--color-link-primary);
}

.buttonContainer {
  width: 100%;
  justify-content: center;
}

.buttonContainer button {
  align-self: center;
}

.register {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
  align-items: center;
}

.signUp {
  color: var(--color-link-secondary);
  font-weight: 600;
}

@media screen and (min-width: 767px) {
  .loginContent {
    max-width: 480px;
    margin: auto;
    box-shadow: 0px -1px 20px #0000001a;
    padding: 80px;
    border-radius: 20px;
  }

  .headerLogo {
    padding: 24px 0;
    text-align: center;
  }
  .headerLogo img {
    width: 240px;
  }
}
