.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.buttonContainer {
  width: 100%;
  justify-content: center;
}

.buttonContainer button {
  align-self: center;
}

@media screen and (min-width: 767px) {
  .page {
    padding: 24px;
    width: 80%;
    margin: auto;
    background-color: #fff;
    border-radius: 51px;
    margin-top: 20px;
  }
}
