.page {
  position: relative;
  height: 100vh;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content {
  gap: 24px;
  margin-top: 30%;
}

.buttonContainer {
  width: 100%;
  justify-content: center;
}

.buttonContainer button {
  align-self: center;
}

.bottomText {
  text-align: center;
  font-size: 14px;
  color: var(--color-text-secondary);
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.link,
.link:visited {
  color: var(--color-link-secondary);
  font-weight: 600;
}

.policyText {
  margin-top: 40px;
}

.stepOne,
.stepTwo {
  display: none;
}

.stepOne.isVisible,
.stepTwo.isVisible {
  display: flex;
}

@media screen and (min-width: 767px) {
  .content {
    max-width: 480px;
    margin: auto;
    box-shadow: 0px -1px 20px #0000001a;
    padding: 80px;
    border-radius: 20px;
  }
}
