.register {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
  align-items: center;
}

.signUp,
.signUp:visited {
  color: var(--color-link-secondary);
  font-weight: 600;
}
