.examHeaderActions {
  display: flex;
  gap: 1rem;
  margin: 27px 0 32px;
}

.examHeaderActions button {
  border-radius: 8px;
}

.examList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.addExamButton {
  margin: 48px 0;
}

.addExamButton button {
  margin: 0 auto;
}

@media screen and (min-width: 767px) {
  .examList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
