import type { IconProps } from '../Icon.types';

const {{pascalCase name}} = ({ fillColor = '#000' }:IconProps) => {
  return <div className="{{dashCase name}}"></div>;
};

export default {{pascalCase name}};
